doctype html
html
   head
      title Hello #{name}
      link(rel="stylesheet" href="/style.css")

   body
      p.greetings#guy Hello #{name}!

      p.plain
         | Pour un text multi-ligne,
         | il est préférable d'utiliser cette écriture à base de 'pipe'

      a(href = url) Lien vers la formation Fullstack
